<template>
	<div>
		<div v-if="globals.platform === 'win32'">
			<b-button type="button" :variant="variant" :class="class" :block="block" @click="open">
				{{ text }}
			</b-button>

			<b-modal v-model="page.unavailable.show" size="md" :title="unavailableTitle">
				<p v-if="page.unavailable.norun">
					You must run the model before running SWAT+ Toolbox.
				</p>
				<p v-else-if="page.unavailable.notinstalled">
					SWAT+ Toolbox can be used for sensitivity analysis, model calibration, evaluation, and validation.
					Click the button below to download.
				</p>
				<b-alert variant="warning" :show="!isNullOrEmpty(page.unavailable.error)">
					{{ page.unavailable.error }}
				</b-alert>

				<template #modal-footer>
					<b-button v-if="page.unavailable.norun" type="button" variant="primary" to="run" class="mr-1">Configure Model Run</b-button>
					<open-in-browser v-else-if="page.unavailable.notinstalled" url="https://swat.tamu.edu/software/plus/" text="Install SWAT+ Toolbox" cssClass="btn btn-primary mr-1" />
					<b-button type="button" variant="secondary" @click="page.unavailable.show = false">Cancel</b-button>
				</template>
			</b-modal>
		</div>
	</div>
</template>

<script>
const electron = window.electronApi;

export default {
	name: 'SwatPlusToolbox',
	props: {
		text: {
			type: String,
			default: 'Open in SWAT+ Toolbox'
		},
		variant: {
			type: String,
			default: 'primary'
		},
		class: {
			type: String,
			default: ''
		},
		ranSwat: {
			type: Boolean,
			default: false
		},
		block: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return  {
			page: {
				unavailable: {
					show: false,
					norun: false,
					notinstalled: false,
					error: null
				}
			}
		}
	},
	computed: {
		unavailableTitle() {
			if (this.page.unavailable.norun) return 'Not ready to run SWAT+ Toolbox';
			if (this.page.unavailable.notinstalled) return 'SWAT+ Toolbox is not installed';
			return 'Error opening SWAT+ Toolbox';
		}
	},
	methods: {
		open() {
			this.page.unavailable.norun = false;
			this.page.unavailable.notinstalled = false;
			this.page.unavailable.false = true;
			let path = electron.getSwatPlusToolboxPath();

			if (!this.ranSwat) {
				this.page.unavailable.norun = true;
				this.page.unavailable.show = true;
			} else if (!this.pathExists(path)) {
				this.page.unavailable.notinstalled = true;
				this.page.unavailable.show = true;
			} else {
				this.page.unavailable.error = electron.launchSwatPlusToolbox(this.store.currentProject.projectDb);
				if (!this.isNullOrEmpty(this.page.unavailable.error)) {
					this.page.unavailable.show = true;
				}
			}
		}
	}
}
</script>