<template>
	<project-container :loading="page.loading" :load-error="page.error">
		<file-header input-file="water_allocation.wro" docs-path="water_rights">
			<router-link to="/edit/water_allocation">Water Allocation</router-link>
			/ Edit
		</file-header>

		<water-allocation-form is-update :item="item" />
	</project-container>
</template>

<script>
import WaterAllocationForm from './WaterAllocationForm.vue';

export default {
	name: 'WaterAllocationEdit',
	components: {
		WaterAllocationForm
	},
	data() {
		return {
			paths: {
				data: 'water_allocation'
			},
			page: {
				loading: false,
				error: null
			},
			item: {}
		}
	},
	async created() {
		if (this.currentProjectSupported) await this.get();
	},
	watch: {
		'$route': 'get'
	},
	methods: {
		async get() {
			this.page.loading = true;
			this.page.error = null;

            try {
				const response = await this.$http.get(`${this.paths.data}/${this.$route.params.id}/${this.projectDbUrl}`);
				this.log(response.data);
				this.item = response.data;
			} catch (error) {
				this.page.error = this.logError(error, 'Unable to get project information from database.');
			}
			
			this.page.loading = false;
		}
	}
}
</script>