<template>
	<project-container>
		<file-header input-file="water_allocation.wro" docs-path="water_rights">
			<router-link to="/edit/water_allocation">Water Allocation</router-link>
			/ Create
		</file-header>

		<water-allocation-form :item="item" />
	</project-container>
</template>

<script>
import WaterAllocationForm from './WaterAllocationForm.vue';

export default {
	name: 'WaterAllocationCreate',
	components: {
		WaterAllocationForm
	},
	data() {
		return {
			item: {
				name: null,
				rule_typ: null,
				cha_ob: false
			}
		}
	}
}
</script>