<template>
	<div>
		<error-alert :text="page.error"></error-alert>
		<b-toast id="changes-saved" variant="success" solid title="Changes saved" toaster="b-toaster-top-center">
			Your changes have been saved.
		</b-toast>
		
		<b-form @submit.prevent="save">
			<b-form-group label="Name" :invalid-feedback="requiredFeedback(v$.item.name)">
				<b-form-input type="text" v-model.trim="v$.item.name.$model" required autofocus maxLength="16" 
						:state="getValidState(v$.item.name)" 
						v-b-tooltip.hover.bottom="'Must be unique and cannot contain spaces'" />
			</b-form-group>

			<b-form-group label="Rule type to allocate water" :invalid-feedback="requiredFeedback(v$.item.rule_typ)">
				<b-form-input type="text" v-model.trim="v$.item.rule_typ.$model" required :state="getValidState(v$.item.rule_typ)" />
			</b-form-group>

			<div class="my-3">
				<b-form-checkbox v-model.trim="v$.item.cha_ob.$model">Is there a channel object?</b-form-checkbox>
			</div>

			<div v-if="isUpdate">
				<h2 class="my-3">Source Objects</h2>
				<div v-if="sources.list.length < 1" class="alert alert-primary">
					This table does not have any sources defined. 
					<a href="#" @click.prevent="addSource">Add now.</a>
				</div>
				<div v-if="sources.list.length > 0">
					<b-table striped responsive small table-class="border-bottom table-th-nowrap table-grid" sticky-header="40vh" :items="sources.list" :fields="sources.fields" :sort-by.sync="sources.sortBy" :busy="sources.loading">
						<template v-slot:table-busy>
							<div class="text-center my-4">
								<font-awesome-icon :icon="['fas', 'spinner']" spin size="2x" />
							</div>
						</template>
						<template v-slot:cell(edit)="data">
							<button type="button" class="plain text-primary" @click="editSource(data.item)">
								<font-awesome-icon :icon="['fas', 'edit']" />
							</button>
						</template>
						<template v-slot:cell(delete)="data">
							<button type="button" class="plain text-danger" title="Delete" @click="askSourceDelete(data.item.id, 'source ' + data.item.description)">
								<font-awesome-icon :icon="['fas', 'times']" />
							</button>
						</template>
					</b-table>
				</div>

				<h2 class="my-3">Demand Objects</h2>
				<b-row>
					<b-col md>
						<p>
							<strong>Demand.</strong> Demand can be irrigation demand from an hru, municipal demand, or demand to transfer to another source object (channel, reservoir, aquifer). For irrigation demand, the hru number, decision table for triggering irrigation, and irrigation depth (mm) are input. For municipal demand, a muni number is input. The user then has the option to input an average daily demand or a recall name that can be daily, monthly, or annual. For transfer demand, the trans number is input and the user can input an average daily demand or a decision table to specify demand.
						</p>
						<p>
							<strong>Treatment.</strong> Treatment is designed for municipal treatment plants or industrial plants that treat or change the water chemistry. There are 2 options – 1) recall where you can specify the amount of return flow and 2) delivery where you can specify the change in flow and chemistry.
						</p>
					</b-col>
					<b-col md>
						<p>
							<strong>Receiving.</strong> This can be used to return the treated municipal water (point sources) or to transfer (divert) water to other objects. The simple option is the input the return object and number. Or a decision table can be input to condition the diversions to multiple objects. Inputting “lost” assumes the water is diverted out of the basin.
						</p>
						<p>
							<strong>Source Allocation.</strong> The sources are listed in order of selection and the fraction from each source is input. The other input is compensation – if other sources are not available, the current source may be allowed to compensate for the demand. The model goes through all sources in the order listed and allocates based on the fractions. The model loops through the sources again, checking to see if compensation is allowed.
						</p>
					</b-col>
				</b-row>

				<div v-if="demands.list.length < 1" class="alert alert-primary">
					This table does not have any demand objects defined. 
					<a href="#" @click.prevent="addDemand">Add now.</a>
				</div>
				<div v-if="demands.list.length > 0">
					<b-table striped responsive small table-class="border-bottom table-th-nowrap table-grid" sticky-header="40vh" :items="demands.list" :fields="demands.fields" :sort-by.sync="demands.sortBy" :busy="demands.loading">
						<template v-slot:table-busy>
							<div class="text-center my-4">
								<font-awesome-icon :icon="['fas', 'spinner']" spin size="2x" />
							</div>
						</template>
						<template v-slot:cell(edit)="data">
							<button type="button" class="plain text-primary" @click="editDemand(data.item)">
								<font-awesome-icon :icon="['fas', 'edit']" />
							</button>
						</template>
						<template v-slot:cell(delete)="data">
							<button type="button" class="plain text-danger" title="Delete" @click="askDemandDelete(data.item.id, 'demand ' + data.item.description)">
								<font-awesome-icon :icon="['fas', 'times']" />
							</button>
						</template>
					</b-table>
				</div>
			</div>

			<action-bar>
				<save-button :saving="page.saving" />
				<b-button v-if="isUpdate" type="button" variant="info" @click="addSource" class="mr-1">Add Source Object</b-button>
				<b-button v-if="isUpdate" type="button" variant="info" @click="addDemand" class="mr-1">Add Demand Object</b-button>
				<back-button />
			</action-bar>
		</b-form>

		<b-modal v-model="sources.form.show" scrollable size="lg" :title="(sources.form.update ? 'Update' : 'Add') + ' Source Object'" no-close-on-backdrop no-close-on-esc hide-header-close>
			<error-alert :text="sources.form.error"></error-alert>
			
			<b-form :validated="sources.form.validated">
				<b-form-group label="Name/Description of source object">
					<b-form-input type="text" v-model="sources.obj.description" required />
				</b-form-group>
				<b-row>
					<b-col>
						<b-form-group label="Object type">
							<b-form-select v-model="sources.obj.obj_typ" :options="sources.obj_typs" required @change="sources.obj_name = null" />
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Object name" v-show="sources.obj.obj_typ !== 'unl'">
							<type-ahead-and-go :show-button="false" :required="sources.obj.obj_typ !== 'unl'"
								v-model="sources.obj_name"
								:value="sources.obj_name"
								:table-name="objTypeToConWaterAllocation[sources.obj.obj_typ]" 
								:route-name="objTypeRouteWaterAllocation[sources.obj.obj_typ].name"></type-ahead-and-go>
						</b-form-group>
					</b-col>
				</b-row>

				<hr class="my-3" />

				<p class="mb-0">
					Minimum monthly values for object type:
				</p>
				<ul>
					<li>channel flow (m3/s)</li>
					<li>minimum reservoir level (fraction principal)</li>
					<li>maximum aquifer depth (m)</li>
				</ul>

				<b-row>
					<b-col>
						<b-form-group label="January">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_01" required />
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="February">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_02" required />
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="March">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_03" required />
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="April">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_04" required />
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col>
						<b-form-group label="May">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_05" required />
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="June">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_06" required />
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="July">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_07" required />
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="August">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_08" required />
						</b-form-group>
					</b-col>
				</b-row>
				<b-row>
					<b-col>
						<b-form-group label="September">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_09" required />
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="October">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_10" required />
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="November">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_11" required />
						</b-form-group>
					</b-col>
					<b-col>
						<b-form-group label="Descember">
							<b-form-input type="number" step="any" v-model="sources.obj.limit_12" required />
						</b-form-group>
					</b-col>
				</b-row>
			</b-form>

			<template #modal-footer>
				<save-button type="button" :saving="sources.form.saving" @click.native="saveSource" />
				<b-button type="button" variant="secondary" @click="sources.form.show = false">Cancel</b-button>
			</template>
		</b-modal>

		<b-modal v-model="sources.delete.show" size="md" title="Confirm delete" no-close-on-backdrop no-close-on-esc hide-header-close>
			<error-alert :text="sources.delete.error"></error-alert>

			<p>
				Are you sure you want to delete <strong>{{sources.delete.name}}</strong>?
				This action is permanent and cannot be undone. 
			</p>			
			
			<template #modal-footer>
				<save-button type="button" :saving="sources.delete.saving" @click.native="confirmDeleteSource" text="Delete" />
				<b-button type="button" variant="secondary" @click="sources.delete.show = false">Cancel</b-button>
			</template>
		</b-modal>

		<b-modal v-model="demands.form.show" scrollable :size="demands.isEdit ? 'xl' : 'lg'" :title="(demands.form.update ? 'Update' : 'Add') + ' Demand Object'" no-close-on-backdrop no-close-on-esc hide-header-close>
			<error-alert :text="demands.form.error"></error-alert>
			
			<b-row>
				<b-col :md="demands.isEdit ? 7 : 12">
					<b-form :validated="demands.form.validated">
						<b-form-group label="Name/Description of demand object">
							<b-form-input type="text" v-model="demands.obj.description" required />
						</b-form-group>
						<b-row>
							<b-col>
								<b-form-group label="Object type">
									<b-form-select v-model="demands.obj.obj_typ" :options="demands.obj_typs" required @change="demands.obj_name = null" />
								</b-form-group>
							</b-col>
							<b-col>
								<b-form-group label="Object name" v-show="demands.obj.obj_typ === 'hru'">
									<type-ahead-and-go :show-button="false" :required="demands.obj.obj_typ === 'hru'"
										v-model="demands.obj_name"
										:value="demands.obj_name"
										:table-name="objTypeToConWaterAllocation[demands.obj.obj_typ]" 
										:route-name="objTypeRouteWaterAllocation[demands.obj.obj_typ].name"></type-ahead-and-go>
								</b-form-group>
								<b-form-group label="Object number" v-show="demands.obj.obj_typ !== 'hru'">
									<b-form-input type="number" v-model="demands.obj.obj_id" :required="demands.obj.obj_typ !== 'hru'" />
								</b-form-group>
							</b-col>
						</b-row>

						<b-form-group label="Withdrawal type - average day or recall for municipal and divert; irrigation decision table for HRU">
							<b-form-input type="text" v-model="demands.obj.withdr" required />
						</b-form-group>
						<b-form-group label="Amount - m3/day for municipal, mm for HRU">
							<b-form-input type="number" step="any" v-model="demands.obj.amount" required />
						</b-form-group>
						<b-form-group label="Water right">
							<b-form-select v-model="demands.obj.right" required>
								<b-form-select-option value="sr">Senior</b-form-select-option>
								<b-form-select-option value="jr">Junior</b-form-select-option>
							</b-form-select>
						</b-form-group>
						<b-form-group label="Treatment type">
							<b-form-select v-model="demands.obj.treat_typ" required>
								<b-form-select-option :value="null">None</b-form-select-option>
								<b-form-select-option value="recall">Recall</b-form-select-option>
								<b-form-select-option value="treatment">Treatment</b-form-select-option>
							</b-form-select>
						</b-form-group>
						<b-form-group label="Treatment - pointer to the recall or delivery ratio file (optional)">
							<b-form-input type="text" v-model="demands.obj.treatment" />
						</b-form-group>

						<b-row>
							<b-col>
								<b-form-group label="Receiving object type">
									<b-form-select v-model="demands.obj.rcv_obj" :options="demands.rcv_objs" required @change="demands.rcv_obj_name = null" />
								</b-form-group>
							</b-col>
							<b-col>
								<b-form-group label="Receiving object name" v-show="demands.obj.rcv_obj !== null">
									<type-ahead-and-go :show-button="false" :required="demands.obj.rcv_obj !== null"
										v-model="demands.rcv_obj_name"
										:value="demands.rcv_obj_name"
										:table-name="objTypeToConWaterAllocation[demands.obj.rcv_obj]" 
										:route-name="demands.obj.rcv_obj === null ? '' : objTypeRouteWaterAllocation[demands.obj.rcv_obj].name"></type-ahead-and-go>
								</b-form-group>
							</b-col>
						</b-row>
						<b-form-group label="Receiving object decision table name - to condition water transfers and diversions (optional)">
							<b-form-input type="text" v-model="demands.obj.rcv_dtl" />
						</b-form-group>

						<b-alert :show="!demands.isEdit" variant="info">
							Want to add source objects to this demand object? Click the Save Changes button below first, then from the demand table click edit next to the row to add sources.
						</b-alert>
					</b-form>
				</b-col>
				<b-col v-if="demands.isEdit">
					<div v-if="demandSources.list.length < 1" class="alert alert-primary">
						This demand does not have any sources. 
						<a href="#" @click.prevent="addDemandSource">Add now.</a>
					</div>
					<div v-if="demandSources.list.length > 0">
						<b-table striped responsive small table-class="border-bottom table-th-nowrap table-grid" sticky-header="40vh" :items="demandSources.list" :fields="demandSources.fields" :sort-by.sync="demandSources.sortBy" :busy="demandSources.loading">
							<template v-slot:table-busy>
								<div class="text-center my-4">
									<font-awesome-icon :icon="['fas', 'spinner']" spin size="2x" />
								</div>
							</template>
							<template v-slot:cell(edit)="data">
								<button type="button" class="plain text-primary" @click="editDemandSource(data.item)">
									<font-awesome-icon :icon="['fas', 'edit']" />
								</button>
							</template>
							<template v-slot:cell(delete)="data">
								<button type="button" class="plain text-danger" title="Delete" @click="askDemandSourceDelete(data.item.id, 'demand source')">
									<font-awesome-icon :icon="['fas', 'times']" />
								</button>
							</template>
						</b-table>
					</div>
				</b-col>
			</b-row>			

			<template #modal-footer>
				<save-button type="button" :saving="demands.form.saving" @click.native="saveDemand" />
				<b-button v-if="demands.isEdit" type="button" variant="info" @click="addDemandSource" class="mr-1">Add Demand Source</b-button>
				<b-button type="button" variant="secondary" @click="demands.form.show = false">Cancel</b-button>
			</template>
		</b-modal>

		<b-modal v-model="demands.delete.show" size="md" title="Confirm delete" no-close-on-backdrop no-close-on-esc hide-header-close>
			<error-alert :text="demands.delete.error"></error-alert>

			<p>
				Are you sure you want to delete <strong>{{demands.delete.name}}</strong>?
				This action is permanent and cannot be undone. 
			</p>			
			
			<template #modal-footer>
				<save-button type="button" :saving="demands.delete.saving" @click.native="confirmDeleteDemand" text="Delete" />
				<b-button type="button" variant="secondary" @click="demands.delete.show = false">Cancel</b-button>
			</template>
		</b-modal>

		<b-modal v-model="demandSources.form.show" scrollable size="md" :title="(demandSources.form.update ? 'Update' : 'Add') + ' Demand Source Object'" no-close-on-backdrop no-close-on-esc hide-header-close>
			<error-alert :text="demandSources.form.error"></error-alert>
			
			<b-form :validated="demandSources.form.validated">
				<b-form-group label="Source object">
					<b-form-select v-model="demandSources.obj.src_id" :options="sourceOptions" required />
				</b-form-group>
				<b-form-group label="Fraction allocated from this source">
					<b-form-input type="number" step="any" v-model.number="demandSources.obj.frac" required />
				</b-form-group>

				<b-form-checkbox v-model="demandSources.obj.comp">Allow compensation?</b-form-checkbox>
			</b-form>

			<template #modal-footer>
				<save-button type="button" :saving="demandSources.form.saving" @click.native="saveDemandSource" />
				<b-button type="button" variant="secondary" @click="demandSources.form.show = false">Cancel</b-button>
			</template>
		</b-modal>

		<b-modal v-model="demandSources.delete.show" size="md" title="Confirm delete" no-close-on-backdrop no-close-on-esc hide-header-close>
			<error-alert :text="demandSources.delete.error"></error-alert>

			<p>
				Are you sure you want to delete <strong>{{demandSources.delete.name}}</strong>?
				This action is permanent and cannot be undone. 
			</p>			
			
			<template #modal-footer>
				<save-button type="button" :saving="demandSources.delete.saving" @click.native="confirmDeleteDemandSource" text="Delete" />
				<b-button type="button" variant="secondary" @click="demandSources.delete.show = false">Cancel</b-button>
			</template>
		</b-modal>
	</div>
</template>

<script>
import { useVuelidate } from '@vuelidate/core';
import { required } from '@vuelidate/validators';

export default {
	name: 'WaterAllocationForm',
	setup () {
		return { v$: useVuelidate() }
	},
	props: {
		isUpdate: {
			type: Boolean,
			default: false
		},
		item: {
			type: Object,
			required: true
		}
	},
	data() {
		return {
			page: {
				error: null,
				saving: false
            },
			sources: {
				loading: false,
				sortBy: 'id',
				fields: [
					{ key: 'edit', label: '', class: 'min' },
					{ key: 'description', sortable: true },
					{ key: 'obj_typ', label: 'Type', sortable: true },
					{ key: 'obj_name', label: 'Object', sortable: true },
					{ key: 'limit_01', label: 'Jan', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'limit_02', label: 'Feb', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'limit_03', label: 'Mar', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'limit_04', label: 'Apr', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'limit_05', label: 'May', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'limit_06', label: 'Jun', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'limit_07', label: 'Jul', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'limit_08', label: 'Aug', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'limit_09', label: 'Sep', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'limit_10', label: 'Oct', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'limit_11', label: 'Nov', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'limit_12', label: 'Dec', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'delete', label: '' }
				],
				list: this.item.src_obs,
				delete: {
					show: false,
					id: null,
					name: null,
					error: null,
					saving: false
				},
				form: {
					show: false,
					id: null,
					validated: false,
					error: null,
					saving: false
				},
				obj: {
					water_allocation_id: this.item.id,
					description: null,
					obj_typ: 'cha',
					obj_id: 0,
					limit_01: 0,
					limit_02: 0,
					limit_03: 0,
					limit_04: 0,
					limit_05: 0,
					limit_06: 0,
					limit_07: 0,
					limit_08: 0,
					limit_09: 0,
					limit_10: 0,
					limit_11: 0,
					limit_12: 0
				},
				obj_name: null,
				obj_typs: [
					{ value: 'cha', text: 'Channel' },
					{ value: 'res', text: 'Reservoir' },
					{ value: 'aqu', text: 'Aquifer' },
					{ value: 'unl', text: 'Unlimited' }
				]
			},
			demands: {
				loading: false,
				sortBy: 'id',
				fields: [
					{ key: 'edit', label: '', class: 'min' },
					{ key: 'description', sortable: true },
					{ key: 'obj_typ', label: 'Type', sortable: true },
					{ key: 'obj_name', label: 'Object', sortable: true },
					{ key: 'obj_id', label: 'ID', sortable: true },
					{ key: 'withdr', label: 'Withdraw', sortable: true },
					{ key: 'amount', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'right', label: 'Right', sortable: true },
					{ key: 'treat_typ', label: 'Treatment Type', sortable: true },
					{ key: 'treatment', sortable: true },
					{ key: 'rcv_obj', label: 'Rcv. Object Type', sortable: true },
					{ key: 'rcv_obj_name', label: 'Rcv. Object', sortable: true },
					{ key: 'rcv_dtl', label: 'Rcv. DTL', sortable: true },
					{ key: 'delete', label: '' }
				],
				list: this.item.dmd_obs,
				delete: {
					show: false,
					id: null,
					name: null,
					error: null,
					saving: false
				},
				form: {
					show: false,
					id: null,
					validated: false,
					error: null,
					saving: false
				},
				obj: {
					water_allocation_id: this.item.id,
					description: null,
					obj_typ: 'muni',
					obj_id: 0,
					withdr: 'ave_day',
					amount: 0,
					right: 'sr',
					treat_typ: null,
					treatment: null,
					rcv_obj: null,
					rcv_obj_id: 0,
					rcv_dtl: null
				},
				obj_name: null,
				rcv_obj_name: null,
				obj_typs: [
					{ value: 'hru', text: 'HRU' },
					{ value: 'muni', text: 'Municipal' },
					{ value: 'divert', text: 'Interbasin diversion' }
				],
				rcv_objs: [
					{ value: null, text: 'None' },
					{ value: 'cha', text: 'Channel' },
					{ value: 'res', text: 'Reservoir' },
					{ value: 'aqu', text: 'Aquifer' }
				],
				isEdit: false
			},
			demandSources: {
				loading: false,
				sortBy: 'id',
				fields: [
					{ key: 'edit', label: '', class: 'min' },
					{ key: 'src', label: 'Source', sortable: true, formatter: (value) => { return value.description } },
					{ key: 'frac', sortable: true, class: 'text-right', formatter: (value) => { return this.numberFormat(value) } },
					{ key: 'comp', sortable: true, class: 'text-right', formatter: (value) => { return value ? 'Y' : 'N' } },
					{ key: 'delete', label: '' }
				],
				list: [],
				delete: {
					show: false,
					id: null,
					name: null,
					error: null,
					saving: false
				},
				form: {
					show: false,
					id: null,
					validated: false,
					error: null,
					saving: false
				},
				obj: {
					water_allocation_dmd_ob_id: 0,
					src_id: null,
					frac: 0,
					comp: false
				}
			},
			objTypeToConWaterAllocation: {
				'hru': 'hru_con',
				'aqu': 'aqu_con',
				'cha': 'chandeg_con',
				'res': 'res_con',
				'unl': '',
				'muni': '',
				'divert': ''
			},
			objTypeRouteWaterAllocation: {
				'hru': { path: '/edit/hrus/edit/', name: 'HrusEdit' },
				'aqu': { path: '/edit/aquifers/edit/', name: 'AquifersEdit' },
				'cha': { path: '/edit/channels/edit/', name: 'ChannelsEdit' },
				'res': { path: '/edit/reservoirs/edit/', name: 'ReservoirsEdit' },
				'unl': { path: '#', name: '#' },
                'muni': { path: '#', name: '#' },
                'divert': { path: '#', name: '#' }
			}
		}
	},
	validations: {
		item: {
			name: { required },
			rule_typ: { required },
			cha_ob: {}
		}
	},
	created() {
		if (this.currentProjectSupported) this.get();
	},
	computed: {
		sourceOptions() {
			let options = [{ value: null, text: 'Select a source...' }];
			for (let src of this.sources.list) {
				options.push({ value: src.id, text: src.description })
			}
			return options;
		}
	},
	methods: {
		putDb(data) {
			if (this.isUpdate)
				return this.$http.put('water_allocation/' + this.item.id + '/' + this.projectDbUrl, data);
			else
				return this.$http.post('water_allocation/post/' + this.projectDbUrl, data);
		},
		getDb() {
			return this.$http.get('water_allocation/' + this.item.id + '/' + this.projectDbUrl);
		},
		postSourceDb(data) {
			return this.$http.post('water_allocation/source/post/' + this.projectDbUrl, data);
		},
		putSourceDb(id, data) {
			return this.$http.put('water_allocation/source/' + id + '/' + this.projectDbUrl, data);
		},
		deleteSourceDb(id) {
			return this.$http.delete('water_allocation/source/' + id + '/' + this.projectDbUrl);
		},
		postDemandDb(data) {
			return this.$http.post('water_allocation/demand/post/' + this.projectDbUrl, data);
		},
		putDemandDb(id, data) {
			return this.$http.put('water_allocation/demand/' + id + '/' + this.projectDbUrl, data);
		},
		deleteDemandDb(id) {
			return this.$http.delete('water_allocation/demand/' + id + '/' + this.projectDbUrl);
		},
		postDemandSourceDb(data) {
			return this.$http.post('water_allocation/demand-source/post/' + this.projectDbUrl, data);
		},
		putDemandSourceDb(id, data) {
			return this.$http.put('water_allocation/demand-source/' + id + '/' + this.projectDbUrl, data);
		},
		deleteDemandSourceDb(id) {
			return this.$http.delete('water_allocation/demand-source/' + id + '/' + this.projectDbUrl);
		},
		async getData() {
			this.sources.loading = true;
			this.demands.loading = true;

			try {
				const response = await this.getDb();
				this.sources.list = response.data.src_obs;
				this.demands.list = response.data.dmd_obs;
			} catch (error) {
				this.page.error = this.logError(error, 'Unable to get water allocation table data from database.');
			}

			this.sources.loading = false;
			this.demands.loading = false;
		},
		async getDemand() {
			this.demandSources.loading = true;

			try {
				const response = await this.$http.get('water_allocation/demand/' + this.demands.form.id + '/' + this.projectDbUrl);
				this.demandSources.list = response.data.dmd_src_obs;
			} catch (error) {
				this.demandSources.error = this.logError(error, 'Unable to get water allocation demand data from database.');
			}

			this.demandSources.loading = false;
		},
		get() {
			this.sources.list = this.item.src_obs;
			this.demands.list = this.item.dmd_obs;
		},
		async save() {
			this.page.error = null;
			this.page.saving = true;
			this.v$.item.$touch();

			if (this.v$.item.$invalid) {
				this.page.error = 'Please fix the errors below and try again.';
			} else {
				let data = {
					name: this.validName(this.item.name),
					rule_typ: this.item.rule_typ,
					cha_ob: this.item.cha_ob
				};

				if (this.isUpdate) {
					data.id = this.item.id;
				}
				
				try {
					let response = await this.putDb(data);
					this.log(response.data);
					
					if (this.isUpdate)
						this.$bvToast.show('changes-saved');
					else
						this.$router.push({ name: 'WaterAllocationEdit', params: { id: response.data.id } });
				} catch (error) {
					this.page.error = this.logError(error, 'Unable to save changes to database.');
				}
			}
			
			this.page.saving = false;
		},
		async saveSource() {
			this.sources.form.error = null;
			this.sources.form.saving = true;
			this.sources.form.validated = true;

			if (this.validateSource()) {
				if (this.sources.obj.obj_typ !== 'unl') {
					try {
						const response = await this.getAutoCompleteId(this.objTypeToConWaterAllocation[this.sources.obj.obj_typ], this.sources.obj_name);
						this.sources.obj.obj_id = response.data.id;
					} catch (error) {
						this.sources.form.error = this.logError(error, 'Invalid object name, ' + this.sources.obj_name + '. Please make sure the ' + this.sources.obj.obj_typ + ' exists in your database.');
					}
				}

				if (this.isNullOrEmpty(this.sources.form.error)) {
					let action;
					if (this.sources.form.update) {
						action = this.putSourceDb(this.sources.form.id, this.sources.obj);
					} else {
						action = this.postSourceDb(this.sources.obj);
					}

					try {
						await action;
						await this.getData();
						this.sources.form.validated = false;
						this.sources.form.show = false;
					} catch (error) {
						this.sources.form.error = this.logError(error, 'Unable to save source object to database.');
					}
				}
			} 
			
			this.sources.form.saving = false;
		},
		validateSource() {
			var valid = true;
			this.sources.obj.description = this.validName(this.sources.obj.description);
			if (this.sources.obj.obj_typ === 'unl') this.sources.obj.obj_id = 0;

			let keys = Object.keys(this.sources.obj);
            for (let k of keys) {
                valid = valid && !this.isNullOrEmpty(this.sources.obj[k]);
            }
			return valid;
		},
		addSource() {
			this.sources.form.validated = false;			
			this.sources.form.update = false;
			this.sources.form.id = null;
			this.sources.obj = {
				water_allocation_id: this.item.id,
				description: null,
				obj_typ: 'cha',
				obj_id: 0,
				limit_01: 0,
				limit_02: 0,
				limit_03: 0,
				limit_04: 0,
				limit_05: 0,
				limit_06: 0,
				limit_07: 0,
				limit_08: 0,
				limit_09: 0,
				limit_10: 0,
				limit_11: 0,
				limit_12: 0
			};
			this.sources.form.show = true;
		},
		editSource(item) {
			this.sources.form.update = true;
			this.sources.form.id = item.id;
			this.sources.obj = item;
			this.sources.obj.water_allocation_id = this.item.id;
			this.sources.obj_name = item.obj_name;
			this.sources.form.show = true;
		},
		askSourceDelete(id, name) {
			this.sources.delete.id = id;
			this.sources.delete.name = name;
			this.sources.delete.show = true;
		},
		async confirmDeleteSource() {
			this.sources.delete.error = null;
			this.sources.delete.saving = true;

			try {
				await this.deleteSourceDb(this.sources.delete.id);
				await this.getData();
				this.sources.delete.show = false;
			} catch (error) {
				this.sources.delete.error = this.logError(error, 'Unable to delete from database.');
			}

			this.sources.delete.saving = false;
		},
		async saveDemand() {
			this.demands.form.error = null;
			this.demands.form.saving = true;
			this.demands.form.validated = true;

			if (this.validateDemand()) {
				if (this.demands.obj.obj_typ === 'hru') {
					try {
						const response = await this.getAutoCompleteId(this.objTypeToConWaterAllocation[this.demands.obj.obj_typ], this.demands.obj_name);
						this.demands.obj.obj_id = response.data.id;
					} catch (error) {
						this.demands.form.error = this.logError(error, 'Invalid object name, ' + this.demands.obj_name + '. Please make sure the ' + this.demands.obj.obj_typ + ' exists in your database.');
					}
				}
				if (this.demands.obj.rcv_obj !== null) {
					try {
						const response = await this.getAutoCompleteId(this.objTypeToConWaterAllocation[this.demands.obj.rcv_obj], this.demands.rcv_obj_name);
						this.demands.obj.rcv_obj_id = response.data.id;
					} catch (error) {
						this.demands.form.error = this.logError(error, 'Invalid object name, ' + this.demands.rcv_obj_name + '. Please make sure the ' + this.demands.obj.rcv_obj + ' exists in your database.');
					}
				}

				if (this.isNullOrEmpty(this.demands.form.error)) {
					let action;
					if (this.demands.form.update) {
						action = this.putDemandDb(this.demands.form.id, this.demands.obj);
					} else {
						action = this.postDemandDb(this.demands.obj);
					}

					try {
						await action;
						await this.getData();
						this.demands.form.validated = false;
						this.demands.form.show = false;
					} catch (error) {
						this.demands.form.error = this.logError(error, 'Unable to save demand object to database.');
					}
				}
			} 
			
			this.demands.form.saving = false;
		},
		validateDemand() {
			var valid = true;
			this.demands.obj.description = this.validName(this.demands.obj.description);

			let keys = ['obj_typ', 'withdr', 'amount', 'right'];
            for (let k of keys) {
                valid = valid && !this.isNullOrEmpty(this.demands.obj[k]);
            }
			return valid;
		},
		addDemand() {
			this.demands.form.validated = false;			
			this.demands.form.update = false;
			this.demands.form.id = null;
			this.demands.obj = {
				water_allocation_id: this.item.id,
				description: null,
				obj_typ: 'muni',
				obj_id: 0,
				withdr: 'ave_day',
				amount: 0,
				right: 'sr',
				treat_typ: null,
				treatment: null,
				rcv_obj: null,
				rcv_obj_id: 0,
				rcv_dtl: null
			};
			this.demands.isEdit = false;
			this.demandSources.list = [];
			this.demands.form.show = true;
		},
		editDemand(item) {
			this.demands.form.update = true;
			this.demands.form.id = item.id;
			this.demands.obj = item;
			this.demands.obj.water_allocation_id = this.item.id;
			this.demands.obj_name = item.obj_name;
			this.demands.rcv_obj_name = item.rcv_obj_name;
			this.demands.isEdit = true;
			this.demandSources.list = item.dmd_src_obs;
			this.demands.form.show = true;
		},
		askDemandDelete(id, name) {
			this.demands.delete.id = id;
			this.demands.delete.name = name;
			this.demands.delete.show = true;
		},
		async confirmDeleteDemand() {
			this.demands.delete.error = null;
			this.demands.delete.saving = true;

			try {
				await this.deleteDemandDb(this.demands.delete.id);
				await this.getData();
				this.demands.delete.show = false;
			} catch (error) {
				this.demands.delete.error = this.logError(error, 'Unable to delete from database.');
			}

			this.demands.delete.saving = false;
		},
		async saveDemandSource() {
			this.demandSources.form.error = null;
			this.demandSources.form.saving = true;
			this.demandSources.form.validated = true;

			if (this.validateDemandSource()) {
				let action;

				//Some kind of bug, I don't know why and don't have time to look into it.
				//this.demandSources.obj.frac = this.demandSources.obj.frac.toString();
				this.log(this.demandSources.obj);

				if (this.demandSources.form.update) {
					action = this.putDemandSourceDb(this.demandSources.form.id, this.demandSources.obj);
				} else {
					action = this.postDemandSourceDb(this.demandSources.obj);
				}

				try {
					await action;
					await this.getDemand();
					this.demandSources.form.validated = false;
					this.demandSources.form.show = false;
				} catch (error) {
					this.demandSources.form.error = this.logError(error, 'Unable to save demand source object to database.');
				}
			} 
			
			this.demandSources.form.saving = false;
		},
		validateDemandSource() {
			var valid = true;

			let keys = ['src_id', 'frac', 'comp'];
            for (let k of keys) {
                valid = valid && !this.isNullOrEmpty(this.demandSources.obj[k]);
            }
			return valid;
		},
		addDemandSource() {
			this.demandSources.form.validated = false;			
			this.demandSources.form.update = false;
			this.demandSources.form.id = null;
			this.demandSources.obj = {
				water_allocation_dmd_ob_id: this.demands.form.id,
				src_id: null,
				frac: 0,
				comp: false
			};
			this.demandSources.form.show = true;
		},
		editDemandSource(item) {
			this.demandSources.form.update = true;
			this.demandSources.form.id = item.id;
			this.demandSources.obj = {
				id: item.id,
				water_allocation_dmd_ob_id: this.demands.form.id,
				src_id: item.src.id,
				frac: item.frac,
				comp: item.comp
			};
			this.demandSources.form.show = true;
		},
		askDemandSourceDelete(id, name) {
			this.demandSources.delete.id = id;
			this.demandSources.delete.name = name;
			this.demandSources.delete.show = true;
		},
		async confirmDeleteDemandSource() {
			this.demandSources.delete.error = null;
			this.demandSources.delete.saving = true;

			try {
				await this.deleteDemandSourceDb(this.demandSources.delete.id);
				await this.getDemand();
				this.demandSources.delete.show = false;
			} catch (error) {
				this.demandSources.delete.error = this.logError(error, 'Unable to delete from database.');
			}

			this.demandSources.delete.saving = false;
		}
	}
}
</script>
