<template>
	<project-container>
		<div v-if="$route.name == 'WaterAllocation'">
			<file-header input-file="water_allocation.wro" docs-path="water_rights">
				Water Allocation
			</file-header>

			<b-alert show variant="info">
				Water allocation tables are very specific to the watershed and new feature in SWAT+.
				We recommend working with the model development team if you are unsure.
				Because this is a new addition, the interface is still limited if you're trying to build a large table with many source and demand objects.
			</b-alert>

			<grid-view 
				api-url="water_allocation"
				collection-description="water allocation tables"
				use-filter use-action-bar
				default-sort="name"
				use-dynamic-fields   />
		</div>
		<router-view></router-view>
	</project-container>
</template>

<script>
export default {
	name: 'WaterAllocation'
}
</script>
