<template>
	<div>
		<error-alert :text="page.error"></error-alert>
		<b-toast id="changes-saved" variant="success" solid title="Changes saved" toaster="b-toaster-top-center">
			Your changes have been saved.
		</b-toast>

		<b-form @submit.prevent="save">
			<b-form-group label="Name" :invalid-feedback="requiredFeedback(v$.data.name)">
				<b-form-input type="text" v-model.trim="v$.data.name.$model" required autofocus maxLength="16" 
						:state="getValidState(v$.data.name)" 
						v-b-tooltip.hover.bottom="'Must be unique and cannot contain spaces'" />
			</b-form-group>

			<div v-if="isUpdate">
				<h2 class="my-3">Values</h2>
				<div v-if="values.list.length < 1" class="alert alert-primary">
					This station does not have any values. 
					<a href="#" @click.prevent="add">Add now.</a>
				</div>
				<div v-if="values.list.length > 0">
					<b-table striped responsive small table-class="border-bottom table-th-nowrap" :items="values.list" :fields="values.fields" :sort-by.sync="sortBy" :busy="values.loading">
						<template v-slot:table-busy>
							<div class="text-center my-4">
								<font-awesome-icon :icon="['fas', 'spinner']" spin size="2x" />
							</div>
						</template>
						<template v-slot:cell(edit)="data">
							<button type="button" class="plain text-primary" @click="edit(data.item)">
								<font-awesome-icon :icon="['fas', 'edit']" />
							</button>
						</template>
						<template v-slot:cell(delete)="data">
							<button type="button" class="plain text-danger" title="Delete" @click="askDelete(data.item.id, 'values for ' + data.item.timestep)">
								<font-awesome-icon :icon="['fas', 'times']" />
							</button>
						</template>
					</b-table>
				</div>
			</div>

			<action-bar>
				<save-button :saving="page.saving" />
				<b-button v-if="isUpdate && values.list.length < 12" type="button" variant="info" @click="add" class="mr-1">Add Values</b-button>
				<back-button />
			</action-bar>
		</b-form>		

		<b-modal v-model="values.form.show" scrollable size="lg" :title="values.form.update ? 'Update values' : 'Add values'" no-close-on-backdrop no-close-on-esc hide-header-close>
			<error-alert :text="values.form.error"></error-alert>
			
			<b-form>
				<b-form-group label="Timestep" :invalid-feedback="requiredFeedback(v$.values.obj.timestep)">
					<b-form-input v-model.number.trim="v$.values.obj.timestep.$model" type="number" required :state="getValidState(v$.values.obj.timestep)"></b-form-input>
				</b-form-group>
				
				<b-form-group label="NH4 Rainfall" :invalid-feedback="requiredFeedback(v$.values.obj.nh4_wet)">
					<b-form-input v-model.number.trim="v$.values.obj.nh4_wet.$model" type="number" required step="any" :state="getValidState(v$.values.obj.nh4_wet)"></b-form-input>
				</b-form-group>
				
				<b-form-group label="NO3 Rainfall" :invalid-feedback="requiredFeedback(v$.values.obj.no3_wet)">
					<b-form-input v-model.number.trim="v$.values.obj.no3_wet.$model" type="number" required step="any" :state="getValidState(v$.values.obj.no3_wet)"></b-form-input>
				</b-form-group>
				
				<b-form-group label="NH4 Dry" :invalid-feedback="requiredFeedback(v$.values.obj.nh4_dry)">
					<b-form-input v-model.number.trim="v$.values.obj.nh4_dry.$model" type="number" required step="any" :state="getValidState(v$.values.obj.nh4_dry)"></b-form-input>
				</b-form-group>
				
				<b-form-group label="NO3 Dry" :invalid-feedback="requiredFeedback(v$.values.obj.no3_dry)">
					<b-form-input v-model.number.trim="v$.values.obj.no3_dry.$model" type="number" required step="any" :state="getValidState(v$.values.obj.no3_dry)"></b-form-input>
				</b-form-group>
			</b-form>
			
			<template #modal-footer>
				<save-button type="button" :saving="values.form.saving" @click.native="saveValues" />
				<b-button type="button" variant="secondary" @click="values.form.show = false">Cancel</b-button>
			</template>
		</b-modal>

		<b-modal v-model="values.delete.show" size="md" title="Confirm delete" no-close-on-backdrop no-close-on-esc hide-header-close>
			<error-alert :text="values.delete.error"></error-alert>

			<p>
				Are you sure you want to delete <strong>{{values.delete.name}}</strong>?
				This action is permanent and cannot be undone. 
			</p>
			
			<template #modal-footer>
				<save-button type="button" :saving="values.delete.saving" @click.native="confirmDelete" text="Delete" />
				<b-button type="button" variant="secondary" @click="values.delete.show = false">Cancel</b-button>
			</template>
		</b-modal>
	</div>
</template>

<script>
import { useVuelidate } from '@vuelidate/core';
import { required, decimal } from '@vuelidate/validators';

export default {
	name: 'AtmoForm',
	setup () {
		return { v$: useVuelidate() }
	},
	props: {
		isUpdate: {
			type: Boolean,
			default: false
		},
		data: {
			type: Object,
			required: true
		}
	},
	data() {
		return {
			page: {
				error: null,
				saving: false
			},
			sortBy: 'month',
			values: {
				loading: false,
				fields: [
					{ key: 'edit', label: '' },
					{ key: 'timestep', class: 'text-right' },
					{ key: 'nh4_wet', label: 'NH4 RF', formatter: (value) => { return this.numberFormat(value, 3) }, class: 'text-right' },
					{ key: 'no3_wet', label: 'NO3 RF', formatter: (value) => { return this.numberFormat(value, 3) }, class: 'text-right' },
					{ key: 'nh4_dry', label: 'NH4 Dry', formatter: (value) => { return this.numberFormat(value, 3) }, class: 'text-right' },
					{ key: 'no3_dry', label: 'NO3 Dry', formatter: (value) => { return this.numberFormat(value, 3) }, class: 'text-right' },
					{ key: 'delete', label: '' }
				],
				delete: {
					show: false,
					id: undefined,
					name: '',
					error: undefined,
					saving: false
				},
				form: {
					show: false,
					id: undefined,
					update: false,
					error: undefined,
					saving: false
				},
				list: this.data.values,
				obj: {
					sta_id: null,
					timestep: 0,
					nh4_wet: 0,
					no3_wet: 0,
					nh4_dry: 0,
					no3_dry: 0	
				}
			}
		}
	},
	validations: {
		data: {
			name: { required }
		},
		values: {
			obj: {
				sta_id: { required },
				timestep: { required },
				nh4_wet: { required, decimal },
				no3_wet: { required, decimal },
				nh4_dry: { required, decimal },
				no3_dry: { required, decimal }
			}
		}
	},
	methods: {
		putDb(data) {
			if (this.isUpdate)
				return this.$http.put(`climate/atmo-stations/${this.data.id}/${this.projectDbUrl}`, data);
			else
				return this.$http.post(`climate/atmo-stations/post/${this.projectDbUrl}`, data);
		},
		getDb() {
			return this.$http.get(`climate/atmo-stations/${this.data.id}/${this.projectDbUrl}`);
		},
		postValuesDb(data) {
			return this.$http.post(`climate/atmo-value/post/${this.projectDbUrl}`, data);
		},
		putValuesDb(id, data) {
			return this.$http.put(`climate/atmo-value/${id}/${this.projectDbUrl}`, data);
		},
		deleteValuesDb(id) {
			return this.$http.delete(`climate/atmo-value/${id}/${this.projectDbUrl}`);
		},
		async save() {
			this.page.error = null;
			this.page.saving = true;
			this.v$.data.$touch();

			if (this.v$.data.$invalid) {
				this.page.error = 'Please fix the errors below and try again.';
			} else {
				let data = {
					name: this.validName(this.data.name),
					atmo_cli_id: this.data.atmo_cli_id
				};
				
				try {
					await this.putDb(data);
					
					if (this.isUpdate)
						this.$bvToast.show('changes-saved');
					else
						this.$router.push({ name: 'StationsAtmo'});
				} catch (error) {
					this.page.error = this.logError(error, 'Unable to save changes to database.');
				}
			}
			
			this.page.saving = false;
		},
		async getValues() {
			this.values.loading = true;

			try {
				const response = await this.getDb();
				this.values.list = response.data.values;
			} catch (error) {
				this.page.error = this.logError(error, 'Unable to get atmo. station values from database.');
			}	

			this.values.loading = false;
		},
		add() {
			this.values.form.update = false;
			this.values.form.id = null;
			this.values.obj = {
				sta_id: this.data.id,
				timestep: 0,
				nh4_wet: 0,
				no3_wet: 0,
				nh4_dry: 0,
				no3_dry: 0			
			};

			this.values.form.show = true;
		},
		edit(item) {
			this.values.form.update = true;
			this.values.form.id = item.id;
			this.values.obj = item;
			this.values.obj.sta_id = this.data.id;
			this.values.form.show = true;
		},		
		async saveValues() {
			this.values.form.error = null;
			this.values.form.saving = true;
			this.v$.values.obj.$touch();

			if (this.v$.values.obj.$invalid) {
				this.values.form.error = 'Please fix the errors below and try again.';
			} else {
				let action;
				if (this.values.form.update) {
					action = this.putValuesDb(this.values.form.id, this.values.obj);
				} else {
					action = this.postValuesDb(this.values.obj);
				}

				try {
					await action;
					this.v$.values.obj.$reset();
					await this.getValues();
					this.values.form.show = false;
				} catch (error) {
					this.values.form.error = this.logError(error, 'Unable to save values to database.');
				}
			} 

			this.values.form.saving = false;
		},
		askDelete(id, name) {
			this.values.delete.id = id;
			this.values.delete.name = name;
			this.values.delete.show = true;
		},
		async confirmDelete() {
			this.values.delete.error = null;
			this.values.delete.saving = true;

			try {
				await this.deleteValuesDb(this.values.delete.id);
				await this.getValues();
				this.values.delete.show = false;
			} catch (error) {
				this.values.delete.error = this.logError(error, 'Unable to delete from database.');
			}

			this.values.delete.saving = false;
		}
	}
}
</script>