<template>
	<project-container :loading="page.loading" :load-error="page.error">
		<div v-if="$route.name == 'StationsAtmo'">
			<b-toast id="changes-saved" variant="success" solid title="Changes saved" toaster="b-toaster-top-center">
				Your changes have been saved.
			</b-toast>

			<file-header input-file="atmo.cli" docs-path="climate">
				<router-link to="/edit/stations">Weather Stations</router-link>
				/ Atmospheric Deposition
			</file-header>

			<b-alert variant="danger" :show="!data.has_weather_stations">
				You must add weather stations before atmospheric deposition.
			</b-alert>
			<div v-if="data.has_weather_stations">
				<p>
					Configure atmospheric deposition data below.
					The simplest method is to click the <strong>Import Data</strong> button at the bottom of the screen.
					Otherwise use the form below, making sure each station data and timestep created match the selected settings.
					If using monthly or yearly data, be sure the dates fall within your model simulation dates.
				</p>

				<error-alert :text="page.form.error"></error-alert>

				<b-row>
					<b-col md="3">
						<b-form-group label="Timestep">
							<b-form-select v-model.trim="v$.data.timestep.$model" :options="dataOptions.timestep"></b-form-select>
						</b-form-group>
					</b-col>
					<b-col md="3" v-if="data.timestep === 'mo'">
						<b-form-group label="Start Month" :invalid-feedback="requiredFeedback(v$.data.mo_init)">
							<b-form-input v-model.number.trim="v$.data.mo_init.$model" type="number" required :state="getValidState(v$.data.mo_init)"></b-form-input>
						</b-form-group>
					</b-col>
					<b-col md="3" v-if="data.timestep !== 'aa'">
						<b-form-group label="Start Year" :invalid-feedback="requiredFeedback(v$.data.yr_init)">
							<b-form-input v-model.number.trim="v$.data.yr_init.$model" type="number" required :state="getValidState(v$.data.yr_init)"></b-form-input>
						</b-form-group>
					</b-col>
					<b-col md="3" v-if="data.timestep !== 'aa'">
						<b-form-group :label="`Number of ${data.timestep === 'mo' ? 'Months' : 'Years'}`" :invalid-feedback="requiredFeedback(v$.data.num_aa)">
							<b-form-input v-model.number.trim="v$.data.num_aa.$model" type="number" required :state="getValidState(v$.data.num_aa)"></b-form-input>
						</b-form-group>
					</b-col>
				</b-row>

				<div>
					<save-button type="button" :saving="page.form.saving" @click.native="saveSettings" text="Update Settings" />
				</div>

				<hr class="my-4" />

				<h2>Stations</h2>
				<grid-view ref="atmoGrid" api-url="climate/atmo-stations" collection-description="atmospheric deposition stations" item-name="atmospheric deposition station"
					empty-message="Use the buttons below to import data or create a new record manually."
					:fields="table.fields" use-filter @change="getTableTotal"
					:default-sort="table.sort" :default-per-page="table.itemsPerPage"></grid-view>

				<action-bar>
					<b-button type="button" variant="primary" :to="append($route.path, 'create')" class="mr-1">Create Record</b-button>
					<b-button type="button" variant="info" @click="page.import.show = true">Import Data</b-button>
					<b-button type="button" variant="danger" class="ml-auto" @click="page.delete.show = true">Delete All</b-button>
				</action-bar>

				<b-modal v-model="page.delete.show" centered size="md" title="Confirm delete" no-close-on-backdrop no-close-on-esc hide-header-close>
					<error-alert :text="page.delete.error"></error-alert>

					<p>
						Are you sure you want to delete <strong>ALL</strong> atmospheric deposition stations?
						This action is permanent and cannot be undone. 
					</p>

					<template #modal-footer>
						<save-button type="button" :saving="page.delete.saving" @click.native="confirmDelete" text="Delete All" variant="danger" />
						<b-button type="button" variant="secondary" @click="page.delete.show = false">Cancel</b-button>
					</template>
				</b-modal>

				<b-modal v-model="page.import.show" centered size="lg" title="Import Atmospheric Deposition Data" no-close-on-backdrop no-close-on-esc hide-header-close>
					<p>
						Any existing atmospheric deposition data will be deleted.
					</p>
					<error-alert :text="page.import.error"></error-alert>			
					<stack-trace-error v-if="!isNullOrEmpty(task.error)" error-title="There was an error with your data." :stack-trace="task.error.toString()" />
					
					<div v-if="task.running">
						<b-progress :value="task.progress.percent" :max="100"></b-progress>
						<p>
							{{task.progress.message}}
						</p>
					</div>
					<div v-else-if="isNullOrEmpty(task.error)">					
						<b-form-group label="Select your data format">
							<b-form-select v-model.trim="v$.page.import.form.importMethod.$model" :options="page.import.options.importMethod"></b-form-select>
						</b-form-group>

						<b-form-group label="Atmospheric deposition file">
							<div class="d-flex">
								<select-file-input v-model.trim="v$.page.import.form.file1.$model" :value="page.import.form.file1" 
									:fileType="page.import.form.importMethod" required class="flex-fill mr-1"
									invalidFeedback="Please select a file." />
								<b-dropdown variant="info" text="Download Sample File" class="ml-auto">
									<b-dropdown-item><open-in-browser :url="`https://plus.swat.tamu.edu/downloads/sample_files/atmo/atmo_avgannual.${selectedFileExt}`" text="Average Annual" /></b-dropdown-item>
									<b-dropdown-item><open-in-browser :url="`https://plus.swat.tamu.edu/downloads/sample_files/atmo/atmo_yearly.${selectedFileExt}`" text="Yearly" /></b-dropdown-item>
									<b-dropdown-item><open-in-browser :url="`https://plus.swat.tamu.edu/downloads/sample_files/atmo/atmo_monthly.${selectedFileExt}`" text="Monthly" /></b-dropdown-item>
								</b-dropdown>
							</div>
						</b-form-group>

						<p>
							Atmospheric deposition stations need to be mapped to your existing weather stations.
							Click the Export Template button to get a CSV containing your weather stations. Fill the first column
							of the CSV with your atmospheric deposition station names.
						</p>

						<b-form-group label="Atmospheric deposition to weather station mapping file"> 
							<div class="d-flex">
								<select-file-input v-model.trim="v$.page.import.form.file2.$model" :value="page.import.form.file2" 
									fileType="csv" required class="flex-fill mr-1"
									invalidFeedback="Please select a csv file." />
								<b-button variant="info" type="button" @click="exportStationsTemplate" class="ml-auto">Export Template File</b-button>
							</div>
						</b-form-group>
					</div>

					<template #modal-footer>
						<save-button v-if="isNullOrEmpty(task.error)" :saving="task.running || page.import.saving" text="Start" type="button" @click.native="importData"></save-button>
						<b-button type="button" variant="secondary" @click="cancelTask">Cancel</b-button>
					</template>
				</b-modal>

				<b-modal v-model="page.exported.show" centered size="md" title="Data Exported" no-close-on-backdrop no-close-on-esc hide-header-close>
					<p>
						Your data has been exported. 
					</p>
					<p>
						<open-file :file-path="page.exported.fileName" text="Open file" css-class="btn btn-primary" />
					</p>
					
					<template #modal-footer>
						<b-button type="button" variant="secondary" @click="page.exported.show = false">Close</b-button>
					</template>
				</b-modal>
			</div>
		</div>
		<router-view></router-view>
	</project-container>
</template>

<script>
import { runProcess } from '@/plugins/electron-process';
import { useVuelidate } from '@vuelidate/core';
import { required, requiredIf } from '@vuelidate/validators';
const electron = window.electronApi;

export default {
	name: 'StationsAtmo',
	setup () {
		return { v$: useVuelidate() }
	},
	mixins: [runProcess],
	data() {
		return {
			page: {
				loading: false,
				error: null,
				import: {
					show: false,
					saving: false,
					error: null,
					options: {
						importMethod: [
							{ text: 'CSV file', value: 'csv' },
							{ text: 'Existing SWAT+ atmo.cli file', value: 'cli' },
						]
					},
					form: {
						importMethod: 'csv',
						file1: null,
						file2: null
					}
				},
				delete: {
					show: false,
					error: null,
					saving: false
				},
				exported: {
					show: false,
					fileName: null
				},
				form: {
					error: null,
					saving: false
				}
			},
			table: {
				sort: 'name',
				itemsPerPage: 100,
				fields: [
					{ key: 'edit', label: '', class: 'min px-3' },
					{ key: 'name', label: 'Name', sortable: true },
					{ key: 'delete', label: '', class: 'min px-3' }
				],
				total: 0
			},
			task: {
				type: 'import',
				progress: {
					percent: 0,
					message: null
				},
				process: null,
				error: null,
				running: false,
				currentPid: null
			},
			data: {
				timestep: null,
				mo_init: 0,
				yr_init: 0,
				num_aa: 0,
				has_weather_stations: false,
				has_atmo_stations: false
			},
			dataOptions: {
				timestep: [
					{ text: 'Average Annual', value: 'aa' },
					{ text: 'Yearly', value: 'yr' },
					{ text: 'Monthly', value: 'mo' }
				]
			}
		}
	},
	validations: {
		page: {
			import: {
				form: {
					importMethod: { required },
					file1: { required },
					file2: { required }
				}
			}
		},
		data: {
			timestep: { required },
			mo_init: { required: requiredIf(function(){ return this.data.timestep === 'mo'; }) },
			yr_init: { required: requiredIf(function(){ return this.data.timestep !== 'aa'; }) },
			num_aa: { required: requiredIf(function(){ return this.data.timestep !== 'aa'; }) },
			has_weather_stations: {},
			has_atmo_stations: {}
		}
	},
	computed: {
		selectedFileExt() {
			return this.page.import.form.importMethod === 'csv' ? 'csv' : 'txt';
		}
	},
	async created() {
		if (this.currentProjectSupported) await this.get();
	},
	watch: {
		'$route': 'get'
	},
	methods: {
		async get(init = true) {
			if (this.$route.name == 'StationsAtmo') {
				this.page.loading = true;
				this.page.error = null;

				try {
					const response = await this.$http.get(`climate/atmo/${this.projectDbUrl}`);
					this.log(response.data);
					this.data = response.data;
				} catch (error) {
					this.page.error = this.logError(error, 'Unable to get project information from database.');
				}

				if (init) {
					this.processStdout((_event, data) => {
						this.task.progress = this.getApiOutput(data);
					});
					
					this.processStderr((_event, data) => {
						console.log(`stderr: ${data}`);
						this.task.error = data;
						this.task.running = false;
					});
					
					this.processClose(async (_event, code) => await this.processCloseEvent());
				}
				
				this.page.loading = false;
			}
		},
		async saveSettings() {
			this.page.form.saving = true;
			this.page.form.error = null;
			this.v$.data.$touch();

			if (this.v$.data.$invalid) {
				this.page.form.error = 'Please fix the errors below and try again.';
			} else {
				try {
					let data = {
						filename: 'atmo.cli',
						timestep: this.data.timestep,
						mo_init: this.data.mo_init,
						yr_init: this.data.yr_init,
						num_aa: this.data.num_aa
					}
					this.log(data);
					await this.$http.put(`climate/atmo/${this.projectDbUrl}`, data);
					this.v$.$reset();
					this.$bvToast.show('changes-saved');
				} catch (error) {
					this.page.form.error = this.logError(error, 'Unable to save changes to database.');
				}
			}
			
			this.page.form.saving = false;
		},
		getTableTotal(total) {
			this.table.total = total;
		},
		async confirmDelete() {
			this.page.delete.errors = [];
			this.page.delete.saving = true;

			try {
				const response = await this.$http.delete(`climate/atmo/${this.projectDbUrl}`);
				this.log(response);
				this.page.delete.show = false;
				await this.get(false);
				await this.$refs.atmoGrid.get(false);
			} catch (error) {
				this.page.delete.error = this.logError(error, 'Unable to delete from database.');
			}

			this.page.delete.saving = false;
		},
		async importData() {
			this.page.import.error = null;
			this.page.import.saving = true;
			this.task.type = 'import';

			this.v$.$touch();
			if (this.v$.$invalid) {
				this.page.import.error = 'Please enter a value for all fields below and try again.';
			} else {
				if (this.isNullOrEmpty(this.page.import.error)) {
					let args = ['import_weather', 
						'--project_db_file='+ this.currentProject.projectDb,
						'--delete_existing=y',
						'--import_type=atmo',
						'--import_method='+ this.page.import.form.importMethod,
						'--file1='+ this.page.import.form.file1,
						'--file2='+ this.page.import.form.file2];
					this.log(args);

					this.v$.$reset();
					this.page.import.saving = false;
					this.runTask(args);
				}
			}

			this.page.import.saving = false;
		},
		exportStationsTemplate() {
			let filters = [{ name: 'CSV (Comma delimited)', extensions: ['csv'] }];
			let files = electron.saveFileDialog({filters: filters, defaultPath: 'atmo-weather-station-map.csv'});

			if (files !== undefined) {
				this.page.exported.fileName = files;
				let args = ['export_csv', 
					'--db_file='+ this.currentProject.projectDb,
					'--file_name='+ files,
					'--table_name=atmo_map'];

				this.task.type = 'export';
				this.runTask(args);
			}
		},
		runTask(args) {
			this.task.error = null;
			this.task.running = true;
			this.task.progress = {
				percent: 0,
				message: null
			};

			this.task.currentPid = this.runApiProc('swatplus_api', args);
		},
		async processCloseEvent() {
			if (this.isNullOrEmpty(this.task.error)) {
				if (this.task.type === 'import') {
					await this.get(false);
					await this.$refs.atmoGrid.get(false);
					this.task.running = false;
					this.closeTaskModals();
				} else {
					this.task.running = false;
					this.page.exported.show = true;
				}
			}
		},
		cancelTask() {
			this.task.error = null;
			this.killProcess(this.task.currentPid);
			
			this.task.running = false;
			this.closeTaskModals();
		},
		closeTaskModals() {
			this.page.import.show = false;
		}
	}
}
</script>
