<template>
	<project-container :loading="page.loading" :load-error="page.error">
		<file-header input-file="atmo.cli" docs-path="climate">
			<router-link to="/edit/stations">Weather Stations</router-link>
			/ <router-link to="/edit/stations/atmo">Atmospheric Deposition</router-link>
			/ Edit
		</file-header>

		<atmo-form is-update :data="data" />
	</project-container>
</template>

<script>
import AtmoForm from './AtmoForm.vue';

export default {
	name: 'StationsAtmoEdit',
	components: {
		AtmoForm
	},
	data() {
		return {
			page: {
				loading: false,
				error: null
			},
			data: {}
		}
	},
	async created() {
		if (this.currentProjectSupported) await this.get();
	},
	watch: {
		'$route': 'get'
	},
	methods: {
		async get() {
			this.page.loading = true;
			this.page.error = null;

            try {
				const response = await this.$http.get(`climate/atmo-stations/${this.$route.params.id}/${this.projectDbUrl}`);
				this.data = response.data;
			} catch (error) {
				this.page.error = this.logError(error, 'Unable to get atmo. station from database.');
			}
			
			this.page.loading = false;
		}
	}
}
</script>