<template>
	<project-container :loading="page.loading" :load-error="page.error">
		<file-header input-file="atmo.cli" docs-path="climate">
			<router-link to="/edit/stations">Weather Stations</router-link>
			/ <router-link to="/edit/stations/atmo">Atmospheric Deposition</router-link>
			/ Create
		</file-header>

		<atmo-form :data="data" />
	</project-container>
</template>

<script>
import AtmoForm from './AtmoForm.vue';

export default {
	name: 'StationsAtmoCreate',
	components: {
		AtmoForm
	},
	data() {
		return {
			page: {
				loading: false,
				error: null
			},
			data: {
				atmo_cli_id: 1,
				name: null,
				values: []
            }
		}
	}
}
</script>