<template>
	<div id="app">
		<div v-if="!isNullOrEmpty($route.name) && $route.name.includes('TableBrowser')" class="container-fluid py-2 px-3">
			<router-view></router-view>
		</div>
		<div v-else>
			<router-view></router-view>
		</div>
	</div>
</template>

<script lang="js">
export default {
	name: 'App',
	created() {
		console.log('App started.');
	}
}
</script>

<style lang="scss">
	@import 'app.scss';
</style>